@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    color: #333;
}
a {
    text-decoration: none;
    color: #333;
}
li {
    list-style: none;
}
img {
    vertical-align: top;
    width: 100%;
}

/* wrap */
#wrap {
    width: 100%;
    position: relative;
}

/* container */
.container {
    width: 1200px;
    height: inherit;
    margin: 0 auto;
}

/* header */
#header {
    width: 100%;
    background-color: #f3f3f3;
    position: relative;
    z-index: 1000;
}
#header .container {
    display: flex;
    align-items: end;
}
#header .container .logo {
    width: 20%;
}
#header .container .logo a {
    display: flex;
    padding: 30px 0;
}

/* header : nav 가상박스 */
#header .container::after {
    content: '';
    position: absolute;
    left: 0;
    top: 99px;
    width: 100%;
    height: 0;
    z-index: -1;
    transition: all 400ms;
    background-color: rgba(0, 0, 0, 0.8);
}
#header .container.on::after {
    height: 160px;
}

/* header : nav */
#header .container .nav {
    width: 80%;
}
#header .container .nav > ul {
    display: flex;
    justify-content: right;
}
#header .container .nav > ul > li {
    position: relative;
}
#header .container .nav > ul > li > a {
    display: block;
    padding: 15px 40px;
}
#header .container .nav > ul > li > a:hover {
    background-color: #ffe39c;
}
#header .container .nav > ul > li > ul {
    position: absolute;
    left: 0;
    top: 49px;
    display: none;
}
#header .container .nav > ul > li > ul > li {
}
#header .container .nav > ul > li > ul > li > a {
    display: block;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    color: #fff;
}
#header .container .nav > ul > li > ul > li > a:hover {
    background-color: #ffe090;
    color: #000;
}

/* slider */
#slider {
    width: 100%;
    height: 300px;
}
#slider .container {
    overflow: hidden;
}
#slider .container .sliderWrap {
    display: flex;
    width: 400%;
}
#slider .container .sliderWrap .slider {
    position: relative;
    width: 1200px;
}
#slider .container .sliderWrap .slider .text {
    position: absolute;
    left: 10%;
    top: 25%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 50px;
}
#slider .container .sliderWrap .slider .text strong {
    color: orange;
}
#slider .container .sliderWrap .slider .text h2 {
    color: #fff;
    font-size: 30px;
}
#slider .container .sliderWrap .slider .text p {
    color: #fff;
    margin-top: 15px;
    font-size: 20px;
}


/* contents */
#contents {
    width: 100%;
    height: 200px;
}
#contents .container {
    display: flex;
}

/* contents : notice */
#contents .container .notice {
    width: 400px;
    height: 200px;
    background-color: #fff4e0;
    padding: 20px;
    box-sizing: border-box;
}
#contents .container .notice h3 {
    margin-bottom: 10px;
    font-size: 24px;
}
#contents .container .notice ul {
}
#contents .container .notice ul li {
    line-height: 1.8;
    display: flex;
}
#contents .container .notice ul li a {
    width: 70%;
}
#contents .container .notice ul li a:hover {
    text-decoration: underline;
}
#contents .container .notice ul li span {
    width: 30%;
    text-align: right;
}

/* contents : gallery */
#contents .container .gallery {
    width: 400px;
    height: 200px;
    padding: 20px;
    box-sizing: border-box;
}
#contents .container .gallery h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
#contents .container .gallery ul {
    display: flex;
    justify-content: space-between;
}
#contents .container .gallery ul li {
    width: 114px;
}
#contents .container .gallery ul li a {
}
#contents .container .gallery ul li a:hover {
    opacity: 0.8;
}

/* contents : banner */
#contents .container .banner {
    width: 400px;
    height: 200px;
    background-image: url(../imges/banner.jpg);
    text-align: center;
    box-sizing: border-box;
}
#contents .container .banner h3 {
    color: #fff;
    font-size: 25px;
    margin-top: 10px;
    padding: 15px;
}
#contents .container .banner a {
    color: #fff;
    font-size: 16px;
    background-color: orange;
    padding: 10px 30px;
    border-radius: 50px;
    display: inline-block;
}
#contents .container .banner a:hover {
    background-color: darkorange;
}

/* footer */
#footer {
    width: 100%;
    height: 100px;
    background-color: #f3f3f3;
}
#footer .container {
    display: flex;
}
#footer .container .footer1 {
    width: 80%;
}
#footer .container .footer1 .footer1-1 {
    width: 100%;
    height: 50px;
}
#footer .container .footer1 .footer1-1 ul {
}
#footer .container .footer1 .footer1-1 ul li {
    display: inline;
    border-right: 1px solid #333;
}
#footer .container .footer1 .footer1-1 ul li:last-child {
    border: 0;
}
#footer .container .footer1 .footer1-1 ul li a {
    padding: 18px 10px 16px 0;
    display: inline-block;
}
#footer .container .footer1 .footer1-1 ul li a:hover {
    text-decoration: underline;
}
#footer .container .footer1 .footer1-2 {
    width: 100%;
    height: 50px;
    margin-top: 15px;
}
#footer .container .footer2 {
    width: 20%;
}
#footer .container .footer2 select {
    margin-top: 34px;
    width: 100%;
    height: 30px;
}

/* popup */
.popup-view {
    width: 300px;
    height: 300px;
    background-color: #fff4e0;
    border: orange solid 5px;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.popup-view h3 {
    padding: 5px 0px;
    font-size: 24px;
    border-bottom: 3px solid orange;
    margin-bottom: 10px;
}
.popup-view .popup-close {
    display: inline-block;
    padding: 8px 20px;
    color: #fff;
    background-color: orange;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;

}