#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
}
.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    padding: 1rem;
}
.header_logo {
    font-size: 0.9rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
}
.header_nav li {
    display: inline;
}
.header_nav li a {
    text-transform: uppercase;
    font-size: 14px;
    padding: 14px;
    position: relative;
}
.header_nav li a::before {
    content: '';
    width: calc(100% - 28px);
    height: 1px;
    background-color: #000;
    position: absolute;
    left: 14px;
    bottom: 10px;
    transform: scaleX(0);
    transition: all 0.3s;
}
.header_nav li a:hover::before {
    transform: scaleX(1);
}

/* 미디어 쿼리 */
@media (max-width: 480px){
    .header_inner {
        display: block;
        text-align: center;
    }
    .header_nav {
        margin-top: 5px;
    }
}